svg.svgsymbols(width='0', height='0', style='display:none')
  symbol#facebook(viewbox='0 0 155.139 155.139')
    path(d='M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184\
      c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452\
      v20.341H37.29v27.585h23.814v70.761H89.584z')
  symbol#twitter(viewbox='0 0 22 18')
    path(d='M22 2.2c-.81.237-1.68.476-2.2 1.1.54-1.066 1.255-1.94 1.1-3.3-.384.834-1.348 1.202-2.2 1.1-1-.56-2.17-1.1-3.3-1.1-2.662 0-4.684 1.99-4.4 4.4-.284.394-.245.733 0 1.1-3.917-.228-7.242-2-9.9-4.4.045.367-.178 1.13 0 2.2-.178 1.287.62 2.647 2.2 3.3-1.108.12-1.803-.08-2.2 0-.214-.394-.214-.378 0 0-.214 1.794 1.342 3.592 3.3 4.4-.27-.3-.672-.246-1.1 0-.274-.246-.556-.275-1.1 0 .843 1.438 2.51 2.724 4.4 3.3-1.463.653-3.407 1.364-5.5 1.1-.388.264-.746.24-1.1 0 1.996 1.463 4.368 2.2 6.6 2.2 8.62 0 13.158-6.772 13.2-12.1-.042-.74-.045-.93 0-1.1.828-.647 1.593-1.43 2.2-2.2z')
  symbol#pause(viewbox='0 0 24 24')
    path(stroke-width='0.5', d='M5.661,20.255h4.398c0.248,0,0.449-0.201,0.449-0.449V4.194c0-0.248-0.201-0.449-0.449-0.449H5.661   c-0.248,0-0.449,0.201-0.449,0.449v15.612C5.212,20.054,5.413,20.255,5.661,20.255z M6.111,4.643H9.61v14.713H6.111V4.643z')
    path(stroke-width='0.5', d='M13.492,4.194v15.612c0,0.248,0.201,0.449,0.449,0.449h4.398c0.248,0,0.449-0.201,0.449-0.449V4.194   c0-0.248-0.201-0.449-0.449-0.449h-4.398C13.693,3.745,13.492,3.946,13.492,4.194z M14.39,4.643h3.499v14.713H14.39V4.643z')
  symbol#volume-on(viewbox='0 0 100 100')
    path(fill='none', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='  M267.897,382.038v-9.879l-22.872,17.261h-13.148c-0.836,0-1.515,0.679-1.515,1.517v18.192c0,0.837,0.679,1.516,1.515,1.516h13.148  l22.872,17.26v-15.588')
    polyline(fill='none', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='  274.665,381.486 260.434,397.367 275.362,397.367 260.729,412.948 ')
    path(d='M59.585,20.785c-0.51-0.254-1.118-0.198-1.572,0.146L35.542,37.887H22.896c-1.662,0-3.015,1.354-3.015,3.018v18.194  c0,1.663,1.353,3.016,3.015,3.016h12.646L58.013,79.07c0.266,0.2,0.583,0.303,0.903,0.303c0.229,0,0.457-0.052,0.669-0.157  c0.509-0.254,0.831-0.773,0.831-1.343V22.127C60.416,21.559,60.094,21.039,59.585,20.785z M57.416,74.862L36.947,59.417  c-0.26-0.196-0.577-0.303-0.903-0.303l-13.163-0.016l0.015-18.211h13.148c0.326,0,0.643-0.106,0.903-0.303l20.469-15.446V74.862z   M68.869,40.375c-0.828,0-1.5,0.671-1.5,1.5v16.25c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5v-16.25  C70.369,41.047,69.697,40.375,68.869,40.375z M78.619,32.375c-0.828,0-1.5,0.671-1.5,1.5v32.25c0,0.828,0.672,1.5,1.5,1.5  s1.5-0.672,1.5-1.5v-32.25C80.119,33.047,79.447,32.375,78.619,32.375z')
  symbol#quit(viewbox='0 0 100 100')
    rect(x='46.574', y='15.865', width='5.669', height='35.33')
    path(d='M49.408,83.895c-17.974,0-32.596-14.623-32.596-32.598c0-10.55,5.159-20.498,13.801-26.61l3.273,4.629  c-7.142,5.051-11.406,13.269-11.406,21.981c0,14.849,12.08,26.928,26.927,26.928c14.847,0,26.926-12.079,26.926-26.928  c0-8.712-4.263-16.929-11.404-21.98l3.273-4.629c8.642,6.113,13.801,16.06,13.801,26.609C82.004,69.271,67.382,83.895,49.408,83.895  z')
  symbol#play(viewbox='0 0 20 20')
    path(d='M5,3L17,10L5,17z')
  symbol#meins-logo(viewbox='0 0 730 217')
    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
      rect(fill='#007787', x='220', y='0', width='510', height='217')
      rect(fill='#D32824', x='0', y='0', width='220', height='217')
      path(d='M276.02,116.655 C278.605,142.27 297.405,157.075 318.79,157.075 C335.475,157.075 347.225,150.26 357.095,139.92 L368.375,150.025 C356.155,163.655 341.35,172.82 318.32,172.82 C284.95,172.82 257.69,147.205 257.69,109.37 C257.69,74.12 282.365,45.92 315.97,45.92 C351.925,45.92 372.605,74.59 372.605,110.31 C372.605,111.955 372.605,113.835 372.37,116.655 L276.02,116.655 Z M276.02,102.085 L354.275,102.085 C352.16,79.995 339.47,61.195 315.5,61.195 C294.585,61.195 278.605,78.585 276.02,102.085 Z M405.875,170 L423.97,170 L423.97,48.505 L405.875,48.505 L405.875,170 Z M465.935,170 L484.03,170 L484.03,100.44 C484.03,77.645 499.54,62.37 520.455,62.37 C541.84,62.37 554.06,76.47 554.06,99.03 L554.06,170 L572.155,170 L572.155,94.565 C572.155,65.66 555,45.92 525.625,45.92 C504.71,45.92 492.02,56.495 484.03,69.655 L484.03,48.505 L465.935,48.505 L465.935,170 Z M650.78,172.35 C674.985,172.35 694.02,158.955 694.02,135.925 L694.02,135.455 C694.02,113.6 673.81,106.315 655.01,100.675 C638.795,95.74 623.755,91.275 623.755,79.76 L623.755,79.29 C623.755,69.185 632.92,61.665 647.255,61.665 C659.005,61.665 671.93,66.13 683.21,73.415 L691.435,59.785 C678.98,51.56 662.53,46.39 647.725,46.39 C623.755,46.39 606.365,60.255 606.365,81.17 L606.365,81.64 C606.365,103.965 627.515,110.545 646.55,115.95 C662.53,120.415 676.865,125.115 676.865,137.335 L676.865,137.805 C676.865,149.555 666.29,157.075 651.72,157.075 C637.385,157.075 622.815,151.435 609.655,141.565 L600.49,154.49 C614.12,165.535 633.39,172.35 650.78,172.35 Z', fill='#FFFFFF')
      polyline(fill='#FFFFFF', points='48.1169404 183.852595 48.1169404 35.6332031 110.961329 98.4775913 174.365086 35.0738335 174.365086 184.410504 140.025777 184.410504 140.025777 113.804041 110.673241 143.156577 82.275611 114.758947 82.275611 184.318534')
  symbol#orf-logo(viewbox='0 0 511.82 219.13')
    polygon(fill='#e20613', points='0 0 511.82 0 511.82 219.13 0 219.13 0 0 0 0')
    path(fill='white', d='M274.28,252.78H243.93v-29h30.35c13,0,16.93,6.42,16.93,14.39,0,8.17-3.89,14.58-16.93,14.58h0ZM214,317.13h30V281.55H266.3l23.54,35.58h37.36l-30.16-42.77c14.2-6.22,24.13-19.64,24.13-36.16,0-24.3-17.9-43.16-45.15-43.16H214v122.1h0Zm-43.16-61c0-35.77-29-63.38-65.19-63.38s-65.19,27.61-65.19,63.38,29,63.38,65.19,63.38,65.19-27.61,65.19-63.38h0Zm-30.94,0c0,19.25-16.54,34.61-34.25,34.61-17.9,0-34.25-15.36-34.25-34.61s16.35-34.6,34.25-34.6c17.7,0,34.25,15.36,34.25,34.6h0Zm231.71,61h29.95V276h56.59V247.19H401.52V223.79h69.43V195H371.57v122h0Z', transform='translate(0.22 -146.51)')
  symbol#volume-off(viewbox='-31.5 -29.4 63 58.7')
    path(d='M-14.6-12.2h5.8l22.5-16.9c0.3-0.2,0.6-0.3,0.9-0.3c0.2,0,0.2,0.1,0.5,0.2c0.5,0.3,0.6,0.8,0.6,1.4v40l-3-2.3v-34.7L-7.6-9.4C-7.8-9.2-8-9.1-8.4-9.1l-2.3,0L-14.6-12.2z M-20.4-9.2l-1.1,0l0.1,18h13.1c0.3,0,0.4,0.3,0.7,0.5l20.3,15.6v-7.7l3,2.4v8.4c0,0.6-0.1,1.1-0.6,1.3c-0.5,0.3-1,0-1.5-0.3L-8.8,11.8h-12.6c-1.7,0-2.9-1-2.9-2.7V-9.1c0-0.9,0.4-1.8,1-2.4L-20.4-9.2zM-31.2-21.5c0.5-0.6,1.5-0.8,2.1-0.2l60,47.5c0.6,0.5,0.8,1.5,0.2,2.1c-0.5,0.6-1.5,0.8-2.1,0.2l-60-47.5 C-31.6-19.9-31.7-20.8-31.2-21.5z')
  symbol#replay(viewbox='0 0 100 100')
    path(d='M39.4,79.6c-7.4-2.8-13.2-8.4-16.5-15.6c-1.7-3.9-2.6-7.9-2.6-12c0-3.6,0.7-7.2,2-10.6c4.4-11.4,15.5-19,27.7-19v4    c-10.5,0-20.2,6.6-24,16.5c-2.5,6.4-2.3,13.4,0.5,19.6c2.8,6.3,7.8,11.1,14.2,13.5C54,80.9,68.9,74.3,74,61.1    c4.8-12.3-0.7-26.2-12.3-32l2.6,5.8l-3.7,1.6L55.1,24l12.5-5.6l1.6,3.7L62.6,25c13.9,6.5,20.7,22.9,15.1,37.5    C71.8,77.8,54.6,85.4,39.4,79.6z')
  symbol#pulseplay(viewbox='0 0 400 400')
    text(x='50%', y='50%', text-anchor='middle', fill='white', font-size='100', dy='30', font-family='Gotham Condensed') PLAY
    circle#pulseplay__circle(fill='none', stroke='white', r='170', cx='200', cy='200', stroke-width='8')
    animate(xlink:href='#pulseplay__circle', attributename='stroke-width', values='4;18;4', dur='4s', repeatcount='indefinite')

.video
.overlay
  .top-curtain
    .center
      .top-curtain__title TOPEINS
      .curtain-text.curtain-text--full-height.
        Die Spermaqualität sinkt dramatisch. Neuseeland hat keine Reserven mehr. Was ist passiert, was kann man tun? Duscher & Gratzer schauen sich das Sperma an.
      .curtain-text.curtain-text--low-height.
        Die Spermaqualität sinkt. Neuseeland braucht Hilfe. Was geschieht hier? Duscher & Gratzer schauen sich das Sperma an.
      .curtain-text.curtain-text--minimum-height.
        Was geschieht hier? Duscher & Gratzer schauen sich das Sperma an.
  .preview.hidden
    .play
      svg
        use(xlink:href="#pulseplay", xmlns:xlink="http://www.w3.org/1999/xlink")
    .post-view(style='display:none')
      .replay
        svg
          use(xlink:href="#replay", xmlns:xlink="http://www.w3.org/1999/xlink")
      a.visit-facebook(href='https://facebook.com/meins.orf.at/', target='_blank')
        svg
          use(xlink:href="#facebook", xmlns:xlink="http://www.w3.org/1999/xlink")
  .bottom-curtain
    .center
      .curtain-text.curtain-text--full-height.
        [M]eins hat diese Woche gleich zwei ORF-Teams eingeladen, uns Videos rund um das Thema Fortpflanzung zu gestalten.  Hier ist TOPEINS mit dem Thema „Spermaqualität“ und den Gedanken der FM4-Moderatoren Hannes Duscher und Roland Gratzer. Auf <a href="http://meins.orf.at/kuenstliches-leben/">Künstliches Leben</a> beschäftigt sich Hanna Sommersacher mit der Leihmutterschaft. Geliehene Mütter oder verkaufte Körper? Umstritten, verboten und doch legal möglich.
      .curtain-text.curtain-text--low-height.
        Die FM4-Moderatoren haben sich für [M]EINS dem Thema „Spermaqualität“ angenommen.  Tipp: Auf <a href="http://meins.orf.at/kuenstliches-leben/">Künstliches Leben</a> hat sich Hanna Sommersacher mit der Leihmutterschaft beschäftigt. 
      .curtain-text.curtain-text--minimum-height.
        Tipp: Auf <a href="http://meins.orf.at/kuenstliches-leben/">Künstliches Leben</a> hat sich Hanna Sommersacher mit der Leihmutterschaft beschäftigt. 
       
.header
  .tagline.hide-lt-lg Eine Woche. Ein Thema.
  .header__share
    a.social-link(href='http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmeins.orf.at%2Fsperma%2F', target='_blank')
      svg.icons.icons--fb(title='Facebook')
        use(xlink:href='#facebook', xmlns:xlink='http://www.w3.org/1999/xlink')
    a.social-link(href='http://twitter.com/intent/tweet?source=http%3A%2F%2Fmeins.orf.at%2Fsperma%2F&text=http%3A%2F%2Fmeins.orf.at%2Fsperma%2F', target='_blank')
      svg.icons.icons--twitter(title='Twitter')
        use(xlink:href='#twitter', xmlns:xlink='http://www.w3.org/1999/xlink')
 
svg.meins-logo(title='[M]eins')
  use(xlink:href='#meins-logo', xmlns:xlink='http://www.w3.org/1999/xlink')
.controls.hidden
  .control.playpause
    svg.btn-pause(title='Pause', style="display:none")
      use(xlink:href='#pause', xmlns:xlink='http://www.w3.org/1999/xlink')
    svg.btn-play(title='Play')
      use(xlink:href='#play', xmlns:xlink='http://www.w3.org/1999/xlink')
  .control.volume
    svg.volume-on(title='Volume')
      use(xlink:href='#volume-on', xmlns:xlink='http://www.w3.org/1999/xlink')
    svg.volume-off(title='Volume', style='display:none')
      use(xlink:href='#volume-off', xmlns:xlink='http://www.w3.org/1999/xlink')
  .control.progress.progress--desktop TOPEINS
    .progress--inner(style='width:0')
      .inner--text(style='width:0') TOPEINS
  .control.progress.progress--mobile.time
    .time__text 00:00
    .progress--inner(style='width:0')
      .inner--text.time(style='width:0')
        .time__text 00:00
  .control.time--desktop.time
    .time__text 00:00
  .control.hd HD
  .control.quit
    svg(title='Quit')
      use(xlink:href='#quit', xmlns:xlink='http://www.w3.org/1999/xlink')
svg.orf-logo(title='ORF')
  use(xlink:href='#orf-logo', xmlns:xlink='http://www.w3.org/1999/xlink')
#debug
| $$OEWAPLACEHOLDER
